@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

html, body {
    height: 100%;
}

body {
    font-family: 'Lato';
    margin: 0;

    #container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 200px 250px;
        grid-template-rows: 1fr 250px;
        grid-template-areas:    "map gauges waypoints"
                                "controls gauges waypoints";

        #map {
            grid-area: map;
        }

        #controls {
            background-color: yellow;
            grid-area: controls;
            display: grid;
            grid-template-columns: 1fr 250px;

            .buttons {
                background-color: purple;
            }

            .camera {
                background-color: orange;
            }
        }

        #gauges {
            background-color: red;
            grid-area: gauges;
        }
    
        #waypoints {
            background-color: blue;
            grid-area: waypoints;
            padding: 10px;
            display: grid;
            grid-row-gap: 10px;
            overflow-y: scroll;

            .waypoint {
                background-color: pink;
                height: 75px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}